<nav>
  <label for = "search"></label><input id="search" type="text" placeholder="Search data">
</nav>

<div class="container">
  <div class="create-user-container">
    <form action="">
      <h1 class="create-user-header">Create User</h1>
      <label for="email-input"></label><input id="email-input" type="text" placeholder="e-mail"><br>
      <label for="username-input"></label><input id="username-input" type="text" placeholder="username"><br>
      <label for="password-input"></label><input id="password-input" type="text" placeholder="password"><br>
      <label for="role-input"></label><input id="role-input" type="text" placeholder="role"><br>
      <input type="submit" value="Enter">
    </form>
  </div>
</div>
